<!DOCTYPE html>
<html>
    <head>
        <title>Gallery</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta viewport="width=device-width, initial-scale=1">
    </head>
    <body>
		<div>
			{% for vid in vids %}
            <video src="/{{vid}}" controls></video>
			{% endfor %}
		</div>
		<div>
            {% for img in imgs|sort %}
            <a href="/{{img}}">
                <img src="/{{img}}" style="display:block; max-width: 100%;"/>
			</a>
            {% endfor %}
		</div>
    </body>
</html>
